<?xml version="1.0" encoding="UTF-8"?>
<!-- - Sample namespace-based configuration - -->
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-6.3.xsd">

	<http use-expressions="true" entry-point-ref="gwtEntryPoint">
		<intercept-url pattern="/**/**admin**/**" access="hasAuthority('ADMIN')" />
		<intercept-url pattern="/**/**Admin**/**" access="hasAuthority('ADMIN')" />
		<intercept-url pattern="/**/**manager**/**" access="hasAnyAuthority('ADMIN','MANAGER')" />
		<intercept-url pattern="/**/**Manager**/**" access="hasAnyAuthority('ADMIN','MANAGER')" />
		<intercept-url pattern="/**/**external**/**" access="hasAnyAuthority('USER')" />
		<intercept-url pattern="/**/**comentarios-new**/**" access="permitAll" />
		<intercept-url pattern="/**/**new**/**" access="hasAuthority('ADMIN')" /> 
		<intercept-url pattern="/**/**edit**/**" access="hasAuthority('ADMIN')" />
		<intercept-url pattern="/**/**remove**/**" access="hasAuthority('ADMIN')" />
		<intercept-url pattern="/**" access="permitAll()" />
		<custom-filter position="PRE_AUTH_FILTER" ref="gwtFilter" />
		<csrf disabled="true"/> 
	</http>
	
	<http-firewall ref="allowSemicolonHttpFirewall" />
		
	<beans:bean id="allowSemicolonHttpFirewall" class="org.springframework.security.web.firewall.StrictHttpFirewall"> 
        <beans:property name="allowSemicolon" value="true"/> 
	</beans:bean>

	<beans:bean id="mvcHandlerMappingIntrospector" class="org.springframework.web.servlet.handler.HandlerMappingIntrospector">
    </beans:bean>
	
	<beans:bean id="gwtEntryPoint" class="com.alcuras.weblogin.aut.AccountsAuthenticationEntryPoint">
		<beans:property name="redirectUrl" value="/inicio" />
	</beans:bean>	
	
	<beans:bean id="gwtFilter" class="com.alcuras.weblogin.aut.AuthenticationFilter">
		<beans:property name="authenticationManager" ref="gwtAuthenticationManager" />
		<beans:property name="deniedHandler" ref="myAccessDeniedHandler" />
		<beans:property name="securityContextRepository" ref="gwtSecurityContextRepository" />
	</beans:bean>
	
	<beans:bean id="gwtSecurityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository" />
	
	<beans:bean id="myAccessDeniedHandler" class="com.alcuras.weblogin.aut.AppAccessDeniedHandler">
     	 <beans:property name="accessDeniedUrl" value="/public/403.htm" />
    </beans:bean>
	
	<authentication-manager alias="gwtAuthenticationManager">
		<authentication-provider
			ref="gwtAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="gwtAuthenticationProvider" class="com.alcuras.weblogin.aut.AccountsAuthenticationProvider">
		<beans:property name="userRegistry" ref="gwtUserRegistry" />
		<beans:property name="usersAuthenticatedAdmin">
			<beans:list>
				<beans:value>javihsan@gmail.com</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="gwtUserRegistry" class="com.alcuras.weblogin.aut.DatastoreUserRegistry" />


</beans:beans>
